:root {
  --delay: 0s;
}
/* ============= Base animations keyframes ============== */
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
/* ========================================================== */
/* = Animations that load on scroll ========================= */
.init-fade-down {
  animation: fade-down 1s var(--delay) forwards;
}
/* ========================================================== */
/* = Animations that automatic load after some defined time =  */
.initial-fade-down {
  animation:
    fade-down 1s 1s,
    hide 1s;
}

.initial-fade-right {
  animation:
    fade-right 1s 1s,
    hide 1s;
}

.initial-fade-left {
  animation:
    fade-left 1s 1s,
    hide 1s;
}
/* ========================================================== */
/* ============= Typing animation =========================== */
.typewrite {
  /* All the elements that have this class and 
*			a defined width will show the typing animation 
*			on scroll 
*		*/
  opacity: 0;
}

.typewrite__animate {
  animation:
    typing 1s var(--delay) steps(40) forwards,
    blink 0.7s step-end;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0px;
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    border-right: 3px solid white;
  }
}
/* ============= Typing animation =========================== */
