---
import Button from '../ui/Button.astro';
---

<nav class="flex py-7 px-[90px] justify-end items-center bg-blue w-full z-[100]"> 
	<Button customClass='fixed top-7' text='Contact Me! &#128640' />
</nav>
