---
import { IconGithub } from "../ui/icons/IconGithub";
import { IconLinkedin } from "../ui/icons/IconLinkedin";
import VerticalNav from "./components/VerticalNav/VerticalNav.astro";
---

<div
	class="md:flex hidden flex-col justify-between fixed left-0 bottom-0 xl:px-[60px] md:px-[30px] h-full top-[180px] initial-fade-right"
>

	<VerticalNav customClass="xl:flex hidden" />

	<div class="flex flex-col gap-4">
		<IconGithub client:only="react" />

		<IconLinkedin client:only="react" />

		<div class="h-[600px] w-[1px] bg-light-white ml-3"></div>
	</div>
</div>

<style>
</style>
