---
import Container from "../../ui/Container.astro";
---

<Container customClass="py-[150px] relative" showHeader={false} id="about">
	<div class="flex flex-col justify-start gap-6">
		<p class="typewrite text-turquoise font-fira ml-2 w-[180px]">Hello World! I am</p>

		<h1 class="text-7xl font-inter text-light-white font-bold leading-[70px]">
			Gabriel Alvarez.
			<br>
			<span class="text-light-white-400 text-6xl">
				I Build experiences for the web.
			</span>
		</h1>

		<p class="text-light-white-400 text-lg max-w-[600px]">
			I'm a Full Stack developer with a passion for creating innovative and impactful apps. I thrive on challenges and am constantly learning to improve my skills and knowledge.
		</p>
	</div>
</Container>
