---
import Container from "../../ui/Container.astro";
---

<Container customClass="py-[280px] relative" showHeader={false} id="About">
	<div class="flex flex-col justify-start gap-6">
		<p class="typewrite text-turquoise font-fira ml-2 w-[180px]">Hello World! I am</p>

		<h1 class="text-7xl font-inter text-light-white font-bold leading-[70px]">
			Gabriel Alvarez.
			<br>
			<span class="text-light-white-400 text-6xl">
				I Build web experiences
				for the people.
			</span>
		</h1>

		<p class="text-light-white-400 text-lg max-w-[600px]">
			I'm a passionate software developer who can create amazing apps. I'm fascinated by how technology can make a positive difference in people's lives. I'm always eager to learn new things and stay updated with the latest trends. I enjoy tackling challenges and constantly improving my skills and knowledge as a professional and person.	
		</p>
	</div>
</Container>
