---
import Navbar from '../components/navigation/Navbar.astro';
import SideNav from '../components/navigation/SideNav.astro';
import EmailBar from '../components/ui/EmailBar.astro';

import "../styles/animate.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@700&family=Roboto&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

		<script src="../scripts/animate.ts" />
		<script src="../scripts/watchScroll.ts" />
	</head>

	<header class="relative"> 
		<Navbar />
	</header>


	<body class="relative">
		<SideNav />

		<div 
			class="
				flex justify-center 
				w-full
				px-8
			"
		>
			<slot />
		</div>

		<EmailBar />

	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	:root {
		--blue: #0a192f;
		--turquoise: #64ffda;
		--light-white: #ccd6f6;
		--light-white-400: #8892b0;
		--font-fira-code: "Fira Code";
		--font-inter: "Inter";
	}


	body {
		background-color: var(--blue);
	}
</style>
