---
interface Props {
	customClass?: string
	showHeader?: boolean
	number?: string
	title?: string
}

const {customClass, showHeader = true, title, number} = Astro.props;
---


<div class={`max-w-[1640px] w-full h-full ${customClass}`}>
	{showHeader && (
		<div class="w-full">
			<div class="flex items-center text-3xl gap-2 typewrite w-[400px]">
				<span class="text-turquoise font-fira">{number}.</span>

				<h2 class="text-light-white text-3xl font-fira">{title}</h2>
			</div>
		</div>
	)}

	<slot />
</div>
