
<div
	class="md:flex flex-col gap-4 justify-center items-center fixed right-0 bottom-0 xl:px-[60px] md:px-[30px] hidden"
>
	<p class="font-fira text-xs text-light-white">gabrielalvarez.work@gmail.com</p>

	<div class="h-[200px] w-[1px] bg-light-white"></div>
</div>

<style>
	p {
		writing-mode: vertical-rl;
		text-orientation: mixed;
	}
</style>
